---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ben Audirsch</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <p>Your Astro site is now set up.</p>

<img src="/images/bens_profile.jpeg" 
     alt="Ben Audirsch profile photo"
     width="250" height="250" />

  </body>
</html>

